<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Kermes - Sanat Ürünlerinin Satış Adresi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Kermes, Sanat, Ürünler" />
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="~/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Owl-Carousel-CSS -->
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- top nav -->
            <nav class="top_nav d-flex pt-3 pb-1">
                <!-- logo -->
                <h1>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        kermes
                    </a>
                </h1>
                <!-- //logo -->
                <div class="w3ls_right_nav ml-auto d-flex">
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
            <!-- //top nav -->
            <!-- bottom nav -->
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <!-- //bottom nav -->
        </div>
        <!-- //header container -->
    </header>
    <!-- //header -->
    <!-- product tabs -->
    <section class="tabs_pro py-md-0 pt-sm-3 pb-5">
        <div class="tabs tabs-style-line pt-md-0">
            <nav class="container">
                <ul id="clothing-nav" class="nav nav-tabs tabs-style-line" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item dropdown has-mega-menu" style="position:static;">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kategorilere Göre Ürünler</a>
                        <div class="dropdown-menu" style="width:100%;top:auto!important">
                            <div class="px-1 container">
                                <div class="row">
                                    @*<div class="col-md-12">*@
                                    <ul>
                                        @(await Component.InvokeAsync("CategoryMenu"))
                                    </ul>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Tüm Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Sales" asp-action="Index">Satın Aldıklarım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">İletişim</a>
                    </li>
                </ul>
            </nav>


            @*<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>*@


            @RenderBody()
            <!-- Content Panel -->
            <!--services-->
            <div class="agileits-services" id="services">
                <div class="no-gutters agileits-services-row row">
                    <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                        <span class="fas fa-sync-alt p-4"></span>
                        <h4 class="mt-2 mb-3">30 Gün İçinde Değişim</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                        <span class="fas fa-gift p-4"></span>
                        <h4 class="mt-2 mb-3">Hediye Kartı</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                        <span class="fas fa-lock p-4"></span>
                        <h4 class="mt-2 mb-3">Güvenli Ödeme</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                        <span class="fas fa-shipping-fast p-4"></span>
                        <h4 class="mt-2 mb-3">Ücretsiz Kargo</h4>
                    </div>
                </div>
            </div>
            <!-- //services-->
            <!-- footer -->
            <footer>
                <div class="footerv2-w3ls">
                    <div class="footer-w3lagile-innerr">
                        <!-- footer-top -->
                        <div class="container-fluid">
                            <div class="row  footer-v2grids w3-agileits">
                                <div class="mt-2 sub-some align-self-lg-center">
                                    <h5>Ödeme Seçenekleri</h5>
                                    <ul class="mt-4">
                                        <li class="list-inline-item">
                                            <img src="~/images/pay2.png" alt="">
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="~/images/pay5.png" alt="">
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="~i/mages/pay3.png" alt="">
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="~/images/pay7.png" alt="">
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="~/images/pay8.png" alt="">
                                        </li>
                                        <li class="list-inline-item ">
                                            <img src="~/images/pay9.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="container">
                                    <div class="d-lg-flex justify-content-between">
                                        <div class="cpy-right align-self-center">
                                            <h2 class="agile_btxt">
                                                <a asp-controller="Home" asp-action="Index">
                                                    <span>K</span>ermes
                                                </a>
                                            </h2>
                                            <p>
                                                © 2019 Deniz Dikbıyık | Tasarım:
                                                <a href="http://w3layouts.com" class="text-secondary"> W3layouts.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //footer-top -->
                    </div>
                </div>
            </footer>
            <!-- //footer -->
            <!-- Banner Responsiveslides -->
            <script src="~/js/responsiveslides.min.js"></script>
            <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
            </script>
            <!-- // Banner Responsiveslides -->
            <!-- Product slider Owl-Carousel-JavaScript -->
            <script src="~/js/owl.carousel.js"></script>
            <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 4,
            loop: false,
            margin: 10,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                320: {
                    items: 1,
                },
                568: {
                    items: 2,
                },
                991: {
                    items: 3,
                },
                1050: {
                    items: 4
                }
            }
        });
            </script>
            <!-- //Product slider Owl-Carousel-JavaScript -->
            <!-- js -->
            <!-- //js -->
            <!-- smooth dropdown -->
            <script>
        $(document).ready(function () {
            $('ul li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
            </script>
            <!-- //smooth dropdown -->
            <!-- script for password match -->
            <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
            </script>
            <script src="~/js/move-top.js"></script>
            <script src="~/js/easing.js"></script>
            <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
            </script>
            <!-- //end-smooth-scrolling -->
            <!-- smooth-scrolling-of-move-up -->
            <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
            </script>
            <script src="~/js/SmoothScroll.min.js"></script>
            <!-- //smooth-scrolling-of-move-up -->
            <!-- Bootstrap core JavaScript
        ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="~/js/bootstrap.js"></script>
            @RenderSection("Scripts", required: false)
</body>
</html>